<%- include('../includes/admin/header.ejs') %>
<%-include('../includes/admin/nav_bar.ejs') %>

<!-- ============================================================== -->
<!-- * MAIN Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->

      <!-- end page title -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                  <div class="text-sm-end">
                    <button
                      type="button"
                      class="btn btn-md btn-success btn-rounded waves-effect waves-light mb-2 me-2 font-size-15"
                      data-bs-toggle="modal"
                      data-bs-target=".add_category_modal"
                    >
                      <i class="mdi mdi-plus me-1"></i>
                      <span class="">Add Category</span>
                    </button>
                  </div>
                  <!-- Modal -->
                  <div
                    class="modal fade add_category_modal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="add_category_modal"
                    aria-hidden="true"
                  >
                    <div
                      class="modal-dialog modal-dialog-centered"
                      role="document"
                    >
                      <div class="modal-content">
                        <div class="modal-header">
                          <h2
                            class="modal-title text-capitalize"
                            id="add_category_modalLabel"
                          >
                            Add Category
                          </h2>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <!-- <form
                          class="g-3 registration_form"
                          action="/admin/category/add_new"
                          method="POST"
                          id="form"
                         
                        > -->
                        <form
                          class="product-form"
                          action="/admin/category/add_new"
                          method="POST"
                          enctype="multipart/form-data"
                        >
                          <div class="form-control">
                            <label for="title">Title</label>
                            <input type="text" name="title" id="title" />
                          </div>
                          <div class="form-control">
                            <label for="img">Title</label>
                            <input type="file" name="file" id="f" />
                            <!-- <input type="file" name="file" id="f" /> -->
                          </div>

                          <button class="btn" type="submit">Add Product</button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <!-- end modal -->
                </div>
                <!-- end col-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
  <!-- ?subscribeModal -->
  <% if (error == true) { %>
  <div
    class="modal fade"
    id="subscribeModal"
    tabindex="-1"
    aria-labelledby="subscribeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="text-center mb-4">
            <div class="avatar-md mx-auto mb-4">
              <div class="avatar-title bg-light rounded-circle text-primary h1">
                <i class="mdi mdi-email-open"></i>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-xl-10">
                <h4 class="text-danger">error !</h4>
                <p class="text-muted font-size-14 mb-4"><%= message%></p>

                <!-- <div class="input-group bg-light rounded">
                  <input
                    type="email"
                    class="form-control bg-transparent border-0"
                    placeholder="Enter Email address"
                    aria-label="Recipient's username"
                    aria-describedby="button-addon2"
                  />

                  <button
                    class="btn btn-primary"
                    type="button"
                    id="button-addon2"
                  >
                    <i class="bx bxs-paper-plane"></i>
                  </button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% } %>
  <!-- end modal -->
  <!-- ? footer-note -->
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <script>
            document.write(new Date().getFullYear());
          </script>
          ©
        </div>
        <div class="col-sm-6">
          <div class="text-sm-end d-none d-sm-block">abhi302005</div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- ============================================================== -->
<!-- ! end  -- MAIN Content here -->
<!-- ============================================================== -->
<%-include('../includes/admin/scripts.ejs') %>
<!-- * custom script file here... -->
<%-include('../includes/admin/footer.ejs') %>
